@model IEnumerable<User>
@using Microsoft.AspNetCore.Identity
@inject RoleManager<IdentityRole> RoleManager
@inject UserManager<User> UserManager
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<h2>Список пользователей</h2>
<form asp-controller="Role">

    <button asp-action="DeleteUsers" class="btn btn-sm btn-primary" value="Delete" name="submit"><i class="fas fa-user-slash"></i> Delete</button>
    <button asp-action="Block" class="btn btn-sm btn-primary" value="Block" name="submit"><i class="fas fa-lock"></i> Block</button>
    <button asp-action="Unblock" class="btn btn-sm btn-primary" value="Unblock" name="submit"><i class="fas fa-lock-open"></i> Unblock</button>
    <button asp-action="Promote" class="btn btn-sm btn-primary" value="Promote" name="submit"><i class="fas fa-up-right-from-square"></i>Promote</button>
    <button asp-action="Downgrade" class="btn btn-sm btn-primary" value="Downgrade" name="submit"><i class="fas fa-thumbs-down"></i>Downgrade</button>
    <table class="table">
        <tr>
            <td>Email</td>
            <td>Status</td>
            <td>Role</td>
            <td style=""><input id="check" type="checkbox" /></td>
        </tr>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                @if (user.Blocked)
                {
                    <td style="background-color: red">Blocked</td>
                }
                else
                {
                    <td style="background-color: chartreuse">Active</td>
                }
                @if(UserManager.IsInRoleAsync(user, "admin").Result)
                {
                    <td>Admin</td>
                }
                else
                {
                    <td>User</td>
                }
                <td style=""><input name="checkbox" id="check2" value="@user.Id" class="checkbox2" type="checkbox" /></td>
            </tr>
        }
    </table>
</form>
